page-home {
    h3{
        text-align: center;
        color: #004580;
    }
    img{
        align-self: center;
        width: 80%;
        margin: auto;
        display: block;
        padding: 10px;
        margin-bottom: 20px;
    }
}
